
  @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Marcellus;
  
}


.container {
  display: flex;
  justify-content: center;
  margin: 8px;
  
}


.input {
  margin: 1px;
  display: flex;
  justify-content: center;
}
.App-lottie {
  padding: 10px;
}