@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Marcellus;
  color: white;

}
html,body {
  max-width:100%;
  overflow-x: hidden;

}

.container {
  display: flex;
  justify-content: center;
  margin: 8px;
}
button p {
  font-size: small;
}

.input {
  margin: 1px;
  display: flex;
  justify-content: center;
}
.App-lottie {
  padding: 10px;
}
.columna-2 {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-wrap: wrap;
}
.columna-2 > div {
  flex: 1 0 88%;
  height: 200px;
  margin: 32px;
  
}

.redd {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.blues {
  background-color: rgba(165, 49, 194, 0);
  padding: 20px;
 
}

.yellow {
  background-color: rgba(165, 49, 194, 0);
  padding: 20px;
}
 #labelLado {
  display: none;
  
 }
.ficha-usuario p {
  color: black;
  height: 100%;
}
#contenedor-ficha {
  background: snow;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 1px 2px 24px -3px black;
}